/PIC18F4550/MPLABX/tricycle.X/nbproject/private/
/PIC18F4550/MPLABX/tricycle.X/build/default/
/PIC18F4550/MPLABX/tricycle.X/dist/default/
/PIC18F4550/MPLABX/tricycle.X/build/PIC18F45k50/
/PIC18F4550/MPLABX/tricycle.X/dist/PIC18F4550/
/PIC18F4550/MPLABX/tricycle.X/build/PIC18F4550/